<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{=it.title}}</title>
  </head>
  <body>
    <main class="d-flex w-100 h-100">
      {{~ it.sketches :sketch }}
      <section class="d-flex flex-column-reverse w-50">
        <h1 class="mx-auto text-light">{{= sketch }}</h1>
        <div
          id="{{= sketch }}"
          class="d-flex align-items-center justify-content-center m-3 h-100"
        >
        </div>
      </section>
      {{~}}
    </main>
  </body>
</html>
