<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    {{#styles}}
    <link href="{{{.}}}" rel="stylesheet">
    {{/styles}}
  </head>
  <body>
    <main class="d-flex flex-column align-items-center py-2 px-4">
      <span id="logo" class="text-monospace">{</span>
      <h1>hi mustache!</h1>
    </main>
    {{#scripts}}
    <script defer src="{{{.}}}" type="text/javascript"></script>
    {{/scripts}}
  </body>
</html>
